//.full{
  //width: 100vw;
  //height: 100vh;
//}
.map-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Aligns content to the top */
  margin-top: -0px; /* Adjust as needed to move the map up */
}
.map-container {
  width: 100%;
  height: 400px; /* Adjust based on your design */
  max-width: 100%;
  position: absolute;
  top: 0; /* Moves the map to the top */
}
#map { height: 180px; }
